<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550242925/cj6ntnbniqzqhjqmeldu.jpg)">
    <div class="banner-content">
      <h1>Bachelorama</h1>
    </div>
</div>


<!-- Cards here:  -->
<h1>coucou</h1>
<h1><% @animations.each do |animation| %></h1>
<p><%= animation.title %></p>
<% end %>
