<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550576614/bachelorama/pexels-photo-1190298.jpeg.jpg)">
    <div class="banner-content">
      <h1>Bachelorama</h1>
    </div>
</div>


<%= render 'card', animations: @animations %>

