<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550661366/pineapple-supply-co-279730-unsplash.jpg)">
    <div class="banner-content">
      <h1>Bachelorama</h1>
      <h2>Fun & Odd Rentals for your Bachelor Party</h2>
    </div>
</div>

<%= render 'card', animations: @animations %>
