<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dydwtoubz/image/upload/v1550771298/bachelorama/celebration-colorful-colourful-1684187.jpg)">
    <div class="banner-content">
      <h1>Bachelorama</h1>
      <h2>The weirdest rentals for your Bachelor/ette Party</h2>
      <h2></h2>
    </div>
</div>

<%= render 'card', animations: @animations %>
