.main-container-show {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-row: 50% 50%;

}

.row-show {
  margin: 20px;
}

.wrapper-show {
  background-color: #70877F;
  flex: auto
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}
