.main-container-show {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-row: 50% 50%;

}

.row-show {
  margin: 20px;
}

.wrapper-show {
  background-color: #70877F;
  flex: auto;
  width: 50%;
}

#map {
  flex: 0 0 450px;
  height: calc(100vh - 70px);
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 70px !important;
}
