<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This footer was proudly CTRL-C/V from Le Wagon <i class="fas fa-heart"></i>
  </div>
</div>
