.booked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 4px;
  margin: 2px;
  border-bottom: 1px solid lightgray;
  img {
    height: 120px;
    width: 200px;
    border-radius: 4px;
  }
}

.wrapper {
  h3 {
    color: black !important;
  }
}

.booking-list {
  padding:20px 200px 20px 200px;
}

.list-unstyled {
  border-radius: 3px;
  #booked-header {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
    li {
      color: #868686;
    }
  }
}

.booked-description {
  display: flex;
  justify-content: space-around;
}

.booked:hover {
  background: #e6e6e6;
  img:hover {
  }
}

.booked:hover .booked-upvote {
  font-size: 25px;
}

.booked-upvote {
  font-size: 20px;
  transition: all 0.3s ease;
  p {
    opacity: 0;
  }
}

.booked-description {
  flex: 1 0 auto;
  padding: 20px;
}

.booked-controls {
  a {
    font-size: 15px;
    color: #CCCCCC;
  }
}
