.btn-medium {
  color: #d6b840;
  border: 1px solid #d6b840;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #34472a;
}
