.wrapper {
  background-size: cover;
}

.container {
  height: 800px;
  background: #f4f4f400;
  background-size: cover;
}

.cards {
  height: 250px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  position: relative;
  margin-bottom: 20px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.col-xs-12 {
  background-size: cover !important;
  width: 250px;
  height: 200px;
  top: 10px;
  left: 10px;
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
}
.card-description {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
}
.card-description a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: light;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
