.wrapper {
  background-size: cover;
  background-color: #70877F;
}

.container {
  background: #f4f4f400;
  background-size: cover;
}

.col-xs-12 {
  background-size: cover;
  width: 350px;
  height: 250px;
  top: 10px;
  left: 10px;
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    transition: 0.6s;
    opacity: .7;
  }
}

.card-description a {
  font-family: 'Proza Libre', sans-serif;
  text-decoration: none;
  color: white;
  font-size:18px;
  font-weight: light;
  text-align: center;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}

#biglove {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-ratings {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
// ______________________________________
// Utile?

// .cards {
//   height: 250px;
//   text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   color: white;
//   position: relative;
//   margin-bottom: 20px;
// }

// .card-user {
//   position: absolute;
//   right: 10px;
//   top: 10px;
// }
