.footer {
  font-family: 'Proza Libre', sans-serif;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: #70877F;
}

.footer-links {
  color: #70877F;
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #70877F;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #70877F;
}
