.wrapper-form {
  background-size: cover;
}

.col-md-6 h2 {
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-size: 45px;
  font-weight: bolder;
}

.simple_form {
  margin-bottom: 50px;
}

input, #animation_title {
  border-radius: 4px;
}

label {
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
}

input.btn.btn-primary {
  font-family: 'Montserrat', sans-serif;
  color: #e63271;
  background-color: white;
  border: white;
  opacity: .9;
   &:hover {
    opacity: .7;
   }
}

.btn-rose {
  color: #e63271;
  border: 1px solid #e63271;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: #34472a;
  }
}



