.reviews {
  color: white;
  border: 1px solid #e8e7e7;
  border-radius: 4px;
  height: 200px;
  margin-bottom: 20px;
}

.wrapper h3 {
  color: white;
  margin-top: 15px;
  margin-left: 5px;
  margin-bottom: 12.5px;
}
 .links. {
  margin-bottom: 50px;
 }

