@import url('https://fonts.googleapis.com/css?family=Sarabun');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  color: #70877F;
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}
::-moz-placeholder {
  color: #70877F;
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}
:-ms-input-placeholder {
  color: #70877F;
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}
::placeholder {
  color: #70877F;
  font-size: 18px;
  font-family: 'Proza Libre', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color:   rgba(229,229,229, .3);
  font-family: 'Lato', sans-serif;
}

.container-searchbar {
  width: 25rem;
  height: 100%;
  margin: 0 1rem;
  position: relative;
  right: 75%;
}

h1 {
  margin: 2rem;
}

.searchbar {
  font-size: 2.4rem;
  width: 25rem;
  height: 5rem;
  border: none;
  outline: none;
  border-radius: 10rem;
  box-shadow: 0 1rem 2rem rgba(black, .1);
  padding: 2rem;
  // position: relative;
  transition: all .2s;
  transition-delay: .1s;
}

.searchbar:hover {
  width: 27rem;
  height: 6rem;
}

.button {
  height: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  transition: all .2s;
  transition-delay: .1s;
  color: #777777;
}

.button:hover {
  cursor: pointer;
}

.searchbar:hover + .button {
  height: 2.5rem;
  top: 1.8rem;
  right: 0;
}

.searchbar::placeholder {
  opacity: .5;
}
